<H1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

|**Objectives**|
|----------|
- Languages that Data Scientists use
- Commonly used libraries used by Data Scientists
- evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python 2. SQL 3. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy 2. SciPy 3. Pandas

|Data Science Tools|
|------------------|
RStudio
Apache Spark
TensorFlow

<H3> Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [18]:
200/ 60

3.3333333333333335

<H2> Author: Sahara Ammons